/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1352px;
  margin: auto;
}
@media (max-width: 792px) {
  .container {
    width: 100vw;
    padding: 15px;
  }
}

/*
.container{
    width: 1352px;
    margin: auto;
    @media (width-max: 1352px){
        width: 100vw;
        padding: 0 15px;
    }
}

$breakpoints: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
    );

    @mixin breakpoint-down($name) {
        @media (max-width: map-get($breakpoints, $name)) {
            @content;
        }
    }
    .container{
        width: 1352px;
        margin: auto;
        @include breakpoint-down(sm) {
            width: 100vw;
            padding: 0 15px;
        }
    }

    */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(7, 172, 230, 0.16);
  height: 70px;
  max-width: 100%;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 37px;
  color: #08A6E4;
  padding-left: 100px;
}

.header-nav .hamburger-btn {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}
@media (max-width: 792px) {
  .header-nav .hamburger-btn:checked ~ .hamburger-menu {
    display: flex;
  }
  .header-nav .hamburger-btn:checked ~ .hamburger-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
  }
  .header-nav .hamburger-btn:checked ~ .hamburger-toggle span:nth-child(2) {
    opacity: 0;
  }
  .header-nav .hamburger-btn:checked ~ .hamburger-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -5px);
  }
}
.header-nav .hamburger-menu {
  display: flex;
}
@media (max-width: 792px) {
  .header-nav .hamburger-menu {
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    display: none;
  }
  .header-nav .hamburger-menu li {
    padding: 0;
  }
  .header-nav .hamburger-menu a {
    display: block;
    padding: 14px 20px;
  }
}
.header-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding-right: 80px;
  padding-bottom: 25px;
  color: #A5A5A5;
  border-bottom: 4px solid transparent;
}
.header-nav a:hover {
  border-color: #08A6E4;
  color: #000000;
}
.header-nav .hamburger-toggle {
  display: none;
}
.header-nav .hamburger-toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
.header-nav .hamburger-toggle span:last-child {
  margin-bottom: 0px;
}
@media (max-width: 792px) {
  .header-nav .hamburger-toggle span {
    display: block;
  }
}

@media (max-width: 792px) {
  .header-logo {
    padding-left: 15px;
  }
}
.banner {
  text-align: center;
}
.banner .banner-header {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 57px;
  padding: 100px 0px 0px 0px;
}
@media (max-width: 792px) {
  .banner .banner-header {
    font-size: 37px;
    line-height: 41px;
  }
}
.banner .banner-paragraf {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 30px 0px;
}
.banner .banner-button {
  width: 400px;
  height: 67px;
  border-radius: 50px;
  border: transparent;
  background-color: #08A6E4;
}
@media (max-width: 792px) {
  .banner .banner-button {
    width: 310px;
  }
}
.banner .banner-button .banner-link-text {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}
.banner .banner-img img {
  width: 100%;
  height: auto;
}
@media (max-width: 792px) {
  .banner .banner-img img {
    width: 100vw;
    height: 390px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=main.css.map */
