.banner{
    text-align: center;

    .banner-header{
        font-family: $font-raleway;
        font-weight: 400;
        font-size: 49px;
        line-height: 57px;
        padding: 100px 0px 0px 0px;
        @include mobile{
            font-size: 37px;
            line-height: 41px;
        }

    }

    .banner-paragraf{
        font-family: $font-open-sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        padding: 30px 0px; 
    }

    .banner-button{
        width: 400px;
        height: 67px;
        border-radius: 50px;
        border: transparent;
        background-color: $color-primary;
        @include mobile{
            width: 310px;
        }

        .banner-link-text{
            text-decoration: none;
            color: $color-white;
            font-family: $font-open-sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 27px;
        }
    }

   

    .banner-img img{
        width: 100%;
        height: auto;
        @include mobile{
            width: 100vw;
            height: 390px;
            object-fit: cover;
        }
        

    }
}
