.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-shadow: 0 3px 6px $color-primary-shadow;
    height: 70px;
}
.header-logo{
    font-family: $font-raleway;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    color: $color-primary;
    padding: 100px;
  
}

.header-nav{
    ul{
        display: flex;
        margin: 60px;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-open-sans;
            font-size: 11px;
            font-weight: 700;
            padding: 0 40px;
            padding-bottom: 25px;
            color: $color-grey;
            border-bottom: 4px solid transparent;

        }
        a:hover{
            border-color: $color-primary;
            color: $color-black;
        }
    }
}

@include breakpoint-down {
    .header-logo{
        padding: 10px;
    }
    
}