.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px $color-primary-shadow;
    height: 70px;
    max-width: 100%;
}
.header-logo{
    font-family: $font-raleway;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    color: $color-primary;
    padding-left: 100px;
  
}

.header-nav{
    .hamburger-btn{
        display: none;
        position: absolute;
        top: -9999px;
        left: -9999px;
        opacity: 0;
        @include mobile {
            &:checked {
              ~ .hamburger-menu{
                display: flex;
              }
          
              ~ .hamburger-toggle {
                span {
                  &:nth-child(1) {
                    transform: rotate(45deg) translate(2px, 5px);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:nth-child(3) {
                    transform: rotate(-45deg) translate(2px, -5px);
                  }
                }
              }
            }
          }
        }

    .hamburger-menu{
        display: flex;
        @include mobile {
            position: absolute;
            left: 0;
            top: 95px;
            flex-direction: column;
            background-color: white;
            width: 100%;
            padding-bottom: 20px;
            display: none;
          
            li{
              padding: 0;
            }
          
            a{
              display: block;
              padding: 14px 20px;
            }
          }
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-open-sans;
            font-size: 11px;
            font-weight: 700;
            padding-right: 80px;
            padding-bottom: 25px;
            color: $color-grey;
            border-bottom: 4px solid transparent;  
        }

        a:hover{
            border-color: $color-primary;
            color: $color-black;
        }

        .hamburger-toggle{
            display: none;
            span{
                width: 20px;
                height: 2px;
                display: block;
                margin-bottom: 3px;
                background-color: $color-primary;
                transition: .3s all ease-in-out;
                &:last-child{
                    margin-bottom: 0px;
                }
            @include mobile{
                display: block;
            }
            }
        }
}


@include mobile{
    .header-logo{
        padding-left: 15px;
    }
}

